body {
    background: #e9e9e9 !important;
}

.errorlist {
    color: red;
    /* list-style-type: none; */
    /* padding: 0; */
}

img.captcha {
    margin-left: 10px;
    width: 115px;
    height: auto;
}

#id_captcha_1 {
    width: 70px;
    margin-left: 15px;
}
